
html, body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #555;
  margin: 0;
  background-image: url('../img/bg.png');
  background-attachment: fixed;
}

.nav {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.nav h1, .nav span{
 color: #555 !important;
}

.container {
  margin: 20px;
}

.location {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.location:not(:last-child) {
  margin-bottom: 50px;
}

.taps {
  text-align: center;
}

.tap-img {
  width: 200px;
}

.tap-info {
  text-align: center;
}

.empty {
  color: #ccc;
}

.tight {
  padding: 0 !important;
}

.beer-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.handle-container {
  width: 200px;
  position: relative;
}

.handle-text {
  font-family: 'Permanent Marker', cursive;
  font-size: 0.9em;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  position: absolute;
  left: 101px;
  top: 92px;
  overflow: hidden;
}

.table-container {
  padding-top: 10px;
}

.header-text {
  display: block;
  margin-bottom: 10px;
}

.info-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
