
html, body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #555;
  margin: 0;
  background-image: url('../img/bg.png');
  background-attachment: fixed;
}

.nav {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.nav h1, .nav span{
 color: #555 !important;
}

.nav small {
  font-size: x-small;
}

.container {
  margin: 20px;
}

.location {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.location:not(:last-child) {
  margin-bottom: 50px;
}

.taps {
  text-align: center;
}

.tap-img {
  width: 200px;
}

.tap-info {
  text-align: center;
}

.empty {
  color: #ccc !important;
}

.empty button {
  color: #ccc !important;
}

.tight {
  padding: 0 !important;
}

.beer-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.handle-container {
  width: 200px;
  position: relative;
}

.handle-text {
  font-family: 'Permanent Marker', cursive;
  font-size: 0.9em;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  position: absolute;
  left: 101px;
  top: 92px;
  overflow: hidden;
}

.table-container {
  padding-top: 10px;
}

.header-text {
  display: block;
  margin-bottom: 10px;
}

.info-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.slidein-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden
}

.slidein {
  position: absolute;
  top: 0;
  height: calc(100% - 93px);
  width: calc(100% - 40px);
  z-index: 1100;
  background-color: white;
  padding: 20px;
  overflow: auto;
  transition: left 0.5s;
  pointer-events: auto;
}

.slidein-closed {
  left: 100%;
}

.slidein-open {
  left: 0;
}

.spacer {
  margin-bottom: 20px;
}

.error-text {
  color: red;
}

.handle {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav button {
    display: none !important;
  }
}
